<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Segunda Entrega</title>
</head>
<body>
<div class="jumbotron">
<div class="container">
<div class="row">
    <div class="col-sm-12 col-lg-2">
      <h1>{{estudiante}}</h1>
   </div>
     <div class="col-sm-8 col-lg-10">
    <img src="img/banner.png" class="img-fluid img-thumbnail"> 
    </div>
</div>


</div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/calculos">Ingresar Curso</a>
      <a class="nav-item nav-link" href="/detalle">Ver cursos</a>
      <a class="nav-item nav-link" href="/icurso">Incribir a un curso</a>
       <a class="nav-item nav-link" href="/curs">ver inscritos</a>
    </div>
  </div>
</nav>
   